/* 
  @project: Creative CSS Button with Ripple Effect
  @author: Jalpa Gajjar 
*/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&subset=latin,latin-ext);
/* Primary Color: #39BDA7 */

body {
  background: url(pattern.png);
  font-family: "Ubuntu", sans-serif;
  /* transform: scale(1.5); */
  overflow: hidden;
}

.btn-container {
  padding: 300px 0;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #888;
  border-radius: 5px;
  position: relative;
  color: #555;
  overflow: hidden;
  text-decoration: none;
  transition: .2s ease-in;
}

.btn::before {
  content: "";
  width: 140%;
  height: 180%;
  background-color: #39BDA722;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%) scaleX(1.25);
  border-radius: 50%;
  transition: .8s cubic-bezier(.55, 0, .1, 1);
  z-index: -1;
}

.btn::after {
  content: "";
  width: 160%;
  height: 190%;
  background-color: #39BDA7;
  position: absolute;
  left: 50%;
  top: 180%;
  transform: translateX(-50%) scaleX(1.45);
  border-radius: 50%;
  transition: .6s cubic-bezier(.55, 0, .1, 1);
  z-index: -1;
}

.btn:hover::before {
  top: -35%;
  background-color: #39BDA7;
  transform: translateX(-50%) scale(0.8);
}

.btn:hover::after {
  top: -45%;
  background-color: #39BDA7;
  transform: translateX(-50%) scale(0.8);
}

.btn:hover {
  color: #FFF;
  border: 1px solid #39BDA7;
}