/* 
    @project Gourmet Catering Website
    @author: Jalpa Gajjar 
*/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1200px) { 
    .container1 h1{
        padding-top: 450px;
    }
    .container3{
        padding: 80px 80px;
    }
    .data1 h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
    .data1 h5{
        letter-spacing: 3px;
        line-height: 5;
    }   
    .line{
        margin: 2px 60px;
    }
    .container4{
        padding: 80px 80px;
    }
    .data2 h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
    .data2 h5{
        font-size: 20px;
        letter-spacing: 3px;
    }  
 }
/* Medium devices (tablets, less than 992px) */
@media (max-width: 992px) {
    .container1 {
        background-position: 25% 20%;
    }
    .container1 h1 {
        padding-top: 470px;
        padding-left: 20px;
    }
    .container3{
        padding: 60px 10px;
        column-gap: 1px;
    }
    .image{
        height: 450px;
        width: 50%;
        background-size: contain;
        background-position: top center;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
    .data1 h1{
        line-height: 3;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .data1 h5{
        letter-spacing: 4px;
        line-height: 3;
       
    }.data1 p{
        font-size: 17px;  
    }
    #para{
        content-visibility:hidden;
    }
    .line{
        margin: 2px 40px;
    }
    .container4{
        flex-direction: column;
        padding: 60px 20px;
    }
    .data2{
        width: 100%;
        padding-top: 30px;
    }
    .data2 h1{  
        font-size: 40px;
    } 
    .data2 h5{
        font-size: 20px;
    }  
    .data2 p{
        font-size: 17px;
    }
    .container5{        
        padding: 80px 20px;   
    }
    .container5 h1{
        font-size: 30px;
        letter-spacing: 4px;
        padding-bottom: 15px;
    }
    .container5 p{
        font-size: 15px;
        line-height: 1.3;
    }
    .container5 #para1{
        font-size: 17px;
        line-height: 1;
    }
    .container5 input{
        padding: 8px 6px;
        font-size: 15px;
    }
    .send{
        width: 20%;
        font-size: 12px;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
    .navigation {
        display: none;
    }
    .btn{
        display: block;
    }
    #checkbtn:checked~.navigation {
        height: 30vh;
        width: 100%;
        display: block;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white; 
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .container1 {
        background-position: 30% ;
    }
    .container1 h1 {
        font-size: 30px;
        padding-top: 470px;
        padding-left: 20px;
    }
    .image{
        background-position: 70%;
    }
    .data1{
        padding-left: 10px;
    }
    .data1 h1{
        font-size: 25px;
        letter-spacing: 3px;
    }
    .data1 h5{
        letter-spacing: 3px;
        line-height: 3;
    }
    .data1 p{
        font-size: 17px;
    }
    .line{
        margin: 2px 50px;
    }
    .container5{        
        padding: 80px 15px;   
    }
    .container5 h1{
        font-size: 30px;
        letter-spacing: 4px;
        padding-bottom: 15px;
    }
    .container5 p{
        font-size: 13px;
        line-height: 1.3;
    }
    .container5 #para1{
        font-size: 15px;
        line-height: 1;
    }
    .container5 input{
        padding: 8px 6px;
        font-size: 13px;
    }
    .send{
        width: 20%;
        font-size: 11px;
    }
}
@media (max-width: 576px) {
    .container1 {
        background-position: 40% 20%;
    }
    .full_nav {
        padding: 8px 2px;
    }
    .container1 #logo {
        font-size: 14px;  
        letter-spacing: 3px;
        text-align: left;
        padding:10px 15px;
        width: 60%;
   }
    .container1 h1{
        font-size: 25px;
        padding-top: 600px;
    }
    .container3{
        padding: 30px 25px;
    }
    .image{
        display: none;
    }
    .data1{
        width: 100%;
   }
    .data1 h1{
        font-size: 25px;
        letter-spacing: 3px;
        line-height: 2;
    }
    .data1 h5{
        letter-spacing: 3px;
        line-height: 3;
        font-size: 16px;
    }
    .data1 p{
        font-size: 13px;
    }
    #para{
        content-visibility:visible;
    }
    .line{
        margin: 2px 20px;
        
    }
    .container4{
        padding-top: 50px;
     }
    .data2 h1{
         font-size: 30px;
         letter-spacing: 3px;
         line-height: 1;
     } 
     .data2 h5{
         font-size: 15px;
         letter-spacing: 3px;
         padding-bottom: 10px;
         line-height: 1.5;
     }  
     .data2 p{
         line-height: 1.5;
         font-size: 11px;
     }
     .image1{
        background-size:contain;
    }
    .container5{        
        padding: 80px 15px;   
    }
    .container5 h1{
        font-size: 30px;
        letter-spacing: 4px;
        padding-bottom: 15px;
    }
    .container5 p{
        font-size: 13px;
        line-height: 1.3;
    }
    .container5 #para1{
        font-size: 15px;
        line-height: 1;
    }
    .container5 input{
        padding: 8px 6px;
        font-size: 13px;
    }
    .send{
        width: 25%;
        font-size: 10px;
    }
}

@media (max-width: 350px) {
    .container1 h1 {
        padding-top: 700px;
        font-size: 15px;
   }
    .container1 #logo {
        font-size: 13px;
        letter-spacing: 2px;
        padding: 10px;
        width: 80%;
   }
    .container1 h1{
        padding-top: 600px;
    }
    .full_nav {
        padding: 8px 8px;   
    }
    .container3{
        padding: 30px 25px;
        display:flex;
        flex-direction: column;   
       
    }
    .image{
        display: none;
        
    }
    .data1{
        width: 100%;
       
    }
    .data1 h1{
        
        font-size: 25px;
        letter-spacing: 2px;
    }
    .data1 h5{
        letter-spacing: 2px;
        line-height: 4;
        font-size: 15px;
    }
    .data1 p{
        font-size: 15px;
    }
    #para{
        content-visibility:visible;
    }
    .line{
        margin: 2px 20px;
    }
    .container4{
       padding-top: 30px;
    }
    .data2 h1{
        font-size: 30px;
        letter-spacing: 3px;
        line-height: 1;
    } 
    .data2 h5{
        font-size: 15px;
        letter-spacing: 3px;
        padding-bottom: 10px;
        line-height: 1.5;
    }  
    .data2 p{
        line-height: 1.5;
        font-size: 11px;
  }
    .container5{        
        padding: 80px 15px;   
    }
    .container5 h1{
        font-size: 30px;
        letter-spacing: 4px;
        padding-bottom: 15px;
    }
    .container5 p{
        font-size: 12px;
    }
    .container5 #para1{
        font-size: 15px;
        
    }
    .container5 input{
        padding: 8px 6px;
        font-size: 12px;
    }
    .send{
        width: 30%;
        font-size: 10px;
    }
}
